/*unordered list*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D4B5A0;
}

/*Logo*/
.Logo{
  width: 70px;
  height: 70px;
  margin-left:30px;
}

/*list items to float to right of navigation bar*/
li {
  float: right;
}

/*navigation buttons*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 15px;
}

/*navigation button hover*/
li a:hover {
  width:100px;
  background-color: #D97D44;
}

/* footer Style*/
footer {
  background-image:url('https://i.postimg.cc/NMhtpQQz/footer2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 10px;  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 99%;
  height:4%;
}

.rectangle{ 
  background-color: #B9B3B3;
  width:500px;
  height:70px;
  border-radius:8px;
  font-family: 'Times New Roman', Times, serif;
  font-size:50px;
  color:black;
  margin-left:33%;
  margin-top:2%;
  text-align: center;
}

.backgd{
  background-color: #D9D9D9;
}

.checkout_con{ 
 width:1300px;
 height:700px; 
 background: white;
 border-color: black;
 border-radius:3px;
 border-width: 4px;
 margin-left:29px;
}

.checkout_con1{ 
  width:1250px; 
  height:220px;
  background-color: #B9B3B3;
  margin-left:39px;
  margin-top:10px;
  border-radius: 6px;
}

.checkout_con2{ 
  width:1250px; 
  height:220px;
  background-color: #B9B3B3;
  margin-left:39px;
  margin-top:10px;
  border-radius: 6px;
}

.image{ 
  width:290px;
  height:200px;
  border-radius:4px;
  margin-left:50px;
  margin-top:-140px;
  margin-bottom:3px;
  background-color: grey;
}

.image2{ 
  width:290px;
  height:200px;
  border-radius:4px;
  margin-left:50px;
  margin-top:-135px;
  margin-bottom:3px;
  background-color: grey;
}

.details{
  width:400px;
  height:190px;
  background-color:gray;
  border-radius:7px;
  margin-top:-200px;
  margin-left:390px;
}

.details2{
  width:400px;
  height:190px;
  background-color:gray;
  border-radius:7px;
  margin-top:-197px;
  margin-left:390px;
}

/*Quantity background-rectangle*/
.rectangle1{
  background-color:gray;
  width:190px;
  height:70px;
  margin-top:-140px;
  margin-left:860px;
  border-radius: 7px;
}

.rectangle2{
  background-color:gray;
  width:190px;
  height:70px;
  margin-top:-110px;
  margin-left:860px;
  border-radius:7px;
}

.button{ 
  width:205px;
  height:50px;
  background-color:#4AE52A;
  margin-top:-230px;
}

.button1{
  width: 200px;
  height:60px;
  background-color:darkkhaki;
}

.button1:hover{
  background-color: orange;
  transition: duration 3sc;;
}