/*unordered list*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D4B5A0;
}

/*list items to float to right of navigation bar*/
li {
  float: right;
}

/*navigation buttons*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 15px;
}

/*navigation button hover*/
li a:hover {
  width:100px;
  background-color: #D97D44;
}

/* footer Style*/
footer {
  background-image:url('https://i.postimg.cc/L8vPWWNX/footer.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 97%;
  height:10%;
}

.payment_img{ 
  margin-top:2%;
  margin-left:33%;
  text-align:center;
}


.cards{
  margin-top:4%;
  margin-left:4%;
}

.rectangle{ 
  margin-top:2%;
  margin-left:25%;
  background-color: lightgrey;
  width:630px;
  height:610px;
}

input[type="name"]{
    width:98%;
    padding: 10px;
    margin-bottom: 20px;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; 
    text-align:center;
}

.input1{
   width:98%;
    padding: 10px;
    margin-bottom: 20px;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    text-align:center;
}

.input2{ 
    width:60%;
    padding: 10px;
    margin-bottom: 20px;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    text-align:center;
}

.input3{ 
    width:40%;
    padding: 10px;
    margin-bottom: -40px;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    text-align:center;
    margin-left:5%;
}

.input4{ 
   width:40%;
    padding: 10px;
    margin-bottom: 10px;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    text-align:center;
    margin-left:54%;
  }

.button1{ 
    width:60%;
    padding: 10px;
    margin-bottom: 10px;
    border:1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: orange;
    font-size: 18px;
    text-align:center;
    margin-left:50%;
}

.text{ 
  text-align:center;
}

.cvc_txt{ 
  margin-left:7%;
}

.exp_txt{ 
  margin-top:-13%;
  margin-left:58%;
}

input[type="pay"]:hover{
    background-color: orange;
    color:white;
}

input[type="pay"]{
    width:50%;
    padding: 10px;
    background-color:white;
    color:black;
    border:none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left:25%;
    margin-top:-6%;
}