/*unordered list*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/*list items to float to right of navigation bar*/
li {
  float: right;
}

/*navigation buttons*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*navigation button hover*/
li a:hover {
  background-color: #006400;
}
