/* Basic CSS Template */

body {

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    color: #000;
}

header, footer {
    background-color: #B8875A;
    color: #fff;
    padding: 1rem;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    gap: 1rem;
}

.nav-box {
    background: #fff;
    color: #B8875A;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    border: 2px solid #B8875A;
    transition: background 0.2s, color 0.2s;
}

.nav-box:hover {
    background: #B8875A;
    color: #fff;
}



main {
    padding: 2rem;
}

h1, h2, h3 {
    margin-top: 0;
}

h1{
    color: #000;
    text-decoration: none;
    text-align: left;
}

h1:hover {
    text-decoration: underline;
}