<!DOCTYPE html>
<html>
<title>About Us</title>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/about_us.css">
</head>

<body>

<!--Navigation Bar-->
<ul>
  <li><a href="/contact_us">Contact Us</a></li>
  <li><a class="active" href="/about_us">About Us</a></li>
  <li><a href="/checkout">Checkout</a></li>
  <li><a href="/menu">Menu</a></li> 
</ul>

<!--Cover/Title Images-->
<div class="Images">
  <img class="cover" src="https://i.postimg.cc/XqyhHdWj/cover2.jpg" />
    <img class="title" src="https://i.postimg.cc/bw67vzmj/Title.jpg" />
</div>

<!--About_Us Title-->
<img class="sub_title" src="https://i.postimg.cc/x8w4yFNj/about-us.jpg" />

<!--About_us Image-->
<div class="about_us">
  <img class="about_image" src="https://i.postimg.cc/QxfxXQ74/about-usimage.jpg" />
</div>

<!--About Us - description-->
<div class="container1">

<p1>
    Established in 2024, we are an small team who 
    dedicate our expertise to the caffeine lovers 
    with excellent and friendly service. 
</p1>

</div>

<!--Footer-->
<footer>
</footer>

</body>
</html>