<!DOCTYPE html>
<html>
<title>About Us</title>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/about_us.css">
</head>

<body>

<!--Navigation Bar-->
<ul>
    <img class="Logo" src="https://i.postimg.cc/R0tyC8tr/204-B-Logo-removebg-preview.png" alt="Logo">

  <li><a href="/contact_us">Contact Us</a></li>
  <li><a class="active" href="/about_us">About Us</a></li>
  <li><a href="/checkout">Checkout</a></li>
  <li><a href="/menu">Menu</a></li> 
</ul>

<!--Cover/Title Images-->
<div class="cover-title-container">
  <img class="cover" src="https://i.postimg.cc/XqyhHdWj/cover2.jpg" alt="Cafe Cover"/>
    <img class="title" src="https://i.postimg.cc/ydR5d94f/cover-image.jpg" alt="Ted's cafe text"/>
</div>

<!--Container for content-->
<div class="about-us-container">
  <!--About_Us Title-->
  <img class="sub_title" src="https://i.postimg.cc/x8w4yFNj/about-us.jpg" />

  <!--About_us Image-->
  <div class="about_us_div">
    <img class="about_image" src="https://i.postimg.cc/QxfxXQ74/about-usimage.jpg" />
  </div>




  <!--About Us - description-->
  <div class="about-us-text_container_border">
    <div class="about-us-text-container">
      <p class="about-us-text">
          Established in 2024, we are an small team who 
          dedicate our expertise to the caffeine lovers 
          with excellent and friendly service. 
      </p>

    </div>
  </div>
</div>

<!--Footer-->
<footer>
</footer>

</body>
</html>