<!DOCTYPE html>
<html>
<title>About Us</title>
<head>
        <link rel="stylesheet" href="main.css">
</head>
<body>
  
<style>
  /*unordered list*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D4B5A0;
}

/*list items to float to right of navigation bar*/
li {
  float: right;
}

/*navigation buttons*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*navigation button hover*/
li a:hover {
  background-color: #D97D44;
}

</style>
<!--Navigation Bar-->
<ul>
  <li><a class="active" href="#home">Home/About</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#menu">Menu</a></li>
  <li><a href="#checkout">Checkout</a></li>
</ul>



</body>
</html>