<!DOCTYPE html>
<html>
<title>Payment Process</title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/checkout_pay.css">
</head>

<body>

    <!--Navigation Bar (Buttons)-->
    <ul>
        <img class="Logo" src="https://i.postimg.cc/R0tyC8tr/204-B-Logo-removebg-preview.png" alt="Logo">

        <li><a href="/contact_us">Contact Us</a></li>
        <li><a href="/about_us">About Us</a></li>
        <li><a class="active" href="/checkout">Checkout</a></li>
        <li><a href="/menu">Menu</a></li>
    </ul>

    <!--Payment Heading-->
    <img class="payment_img" src="https://i.postimg.cc/Jh11zr8R/payment.jpg" style="width:430px; height:150px" />
    <br>
    <br>

    <!--Payment Section-->

    <!--Payment Rectangle-->
    <div class="rectangle">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <form action=" " method="POST">

            <!--Card Image-->
            <img class="cards" src="https://i.postimg.cc/VvHRdLpp/cards.jpg"/>
            <br>
            <br>

            <!-- Name on card (input container)-->
            <h3>Total Amount: ${{ total }}</h3>

            <form method="POST">
                <!-- This annoyingly is convincing enough that it causes browser autofill. No way to disable.-->
                <label>Name on Card</label>
                <input type="text" name="card_name" autocomplete="off" required>

                <label>Card Number</label>
                <input type="text" name="card_no" maxlength="16" autocomplete="off" required>

                <label>CVC</label>
                <input type="text" name="cvc" maxlength="3" autocomplete="off" required>

                <label>Expiry (MM/YY)</label>
                <input type="text" name="expiry" autocomplete="off" placeholder="MM/YY" required>

                <button class="button">Pay Now</button>
                <!-- change to submit instead if this was real, but also use third party not this-->
            </form>




        </form>
    </div>

    <!--Footer-->

<footer>
</footer>
</body>

</html>