<!DOCTYPE html>
<html>
<title>Checkout</title>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/checkout.css">
</head>
<body class="backgd">
    <!--To - Do -->
    <!--Complete quantity template-->
    
  <!--Navigation Bar-->
  <ul>
      <img class="Logo" src="https://i.postimg.cc/R0tyC8tr/204-B-Logo-removebg-preview.png" alt="Logo">

    <li><a href="/contact_us">Contact Us</a></li>
    <li><a href="/about_us">About Us</a></li>
    <li><a class="active" href="/checkout">Checkout</a></li>
    <li><a href="/menu">Menu</a></li> 
  </ul>

  <!--Checkout Title-->
  <h1 class="rectangle">Checkout</h1>

  <!--Checkout container-->
  <div class="checkout_con">
    <br>
    <!--individual containers for checkout features-->
    <div class="checkout_con1">

      <div class="container">
        <button type=button style="margin-top:75px; margin-left:1100px;">
          <img src="https://i.postimg.cc/pTjv7Sdp/bin.jpg" style="width:70px; height:70px;">
        </button>
      </div>

      <div class="image">

      </div>

      <div class="details">

      </div>

      <div class="rectangle1">
          <!--Alternative option to replace plus/minus buttons-->
          <!--team decision once approved!-->
          <label for="quantity1">Quantity (between 1 and 7))</label>
          <input type="number" id="quantity1" name="quantity" min="1" max="7">
          <button type="button1">CHANGE</button>
      </div>

  </div>


    <br>
    <br>
    <br>

    <!--Container_2-->
    <div class="checkout_con2">


          <div class="container">
        <button type=button style="margin-top:65px; margin-left:1100px;">
          <img src="https://i.postimg.cc/pTjv7Sdp/bin.jpg" style="width:70px; height:70px;">
        </button>
      </div>

      <div class="image2">
      </div>

      <div class="details2">
      </div>
    
        <div class="rectangle2">
          <!--Alternative option to replace plus/minus buttons-->
          <!--team decision once approved!-->
          <label for="quantity1">Quantity (between 1 and 7))</label>
          <input type="number" id="quantity1" name="quantity" min="1" max="7">
          <button type="button1">CHANGE</button>
      </div>

    </div>
  </div>
</body>
<!--Footer-->
<footer>
</footer>


</html>