<!DOCTYPE html>
<html>
<title>Contact Us</title>

<head>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOjWA9bBAgqOgv01L65fKnFWtAvbOzeo0&callback=console.debug&libraries=maps,marker&v=beta">
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/contact_us.css">
</head>
<body>
  <!--Navigation Bar-->
  <ul>
    <img class="Logo" src="https://i.postimg.cc/R0tyC8tr/204-B-Logo-removebg-preview.png" alt="Logo">

    <li><a class="active" href="/contact_us">Contact Us</a></li>
    <li><a href="/about_us">About Us</a></li>
    <li><a href="/checkout">Checkout</a></li>
    <li><a href="/menu">Menu</a></li> 
  </ul>

  <!--Contact Us cover/title-->
  <!--Cover/Title Images-->
  <div class="cover-title-container">
    <img class="cover" src="https://i.postimg.cc/XqyhHdWj/cover2.jpg" alt="Cafe Cover" />
    <img class="title" src="https://i.postimg.cc/66L14zY0/Contact-Us.jpg" alt="Contact Us Title" />
  </div>


  <!--contact-us form-->
  <div class="container">
      <form class="contact-form" method="POST">
          <!--Title: Any Questions-->
          <h1 class="cont_title">Contact Us</h1>

          <!-- Name (input container) -->
          <input class="Name input" type="name" name="name" placeholder="Name" value="{{request.form['card_name']}}" required>
          <br>
          <br>

          <!--Subject of Message (drop_down options) -->
          <select class="subject" name="options" id="op" required>
            <option value="op" disabled selected hidden>Subject of message</option>
            <option value="op1">General Question/Enquiry</option>
            <option value="op1">Feedback</option>
            <option value="op3">Customer Support</option>
            <option value="op4">Other</option>
          </select>
          <br>
          <br>

          <!--Message input -->
          <textarea class="text_area" name="Message_option" placeholder="Message" required ></textarea>
          <br>
          <br>

          <!--submit button -->
          <input type="submit" value="Submit" name="Submit">
        </form>
        <!--Google Map - used to show location of cafe-->
      <div class="map_backgrd">
          <h1 class="map_title">Location:609 state highway 16, Kumeu </h1>
          <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3159.303490622634!2d174.5212333153174!3d-36.767791748046875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d5a0f7b4f6b7b%3A0x5045675218ce6e0!2s609%20State%20Highway%2016%2C%20Kumeu%201287!5e0!3m2!1sen!2snz!4v1687836326145!5m2!1sen!2snz"></iframe>
      </div>
  </div>
</body>

<!--Footer-->
<footer>
</footer>

</html>