<!DOCTYPE html>
<html>
<title>Conact Us</title>
<head>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOjWA9bBAgqOgv01L65fKnFWtAvbOzeo0&callback=console.debug&libraries=maps,marker&v=beta">
    </script>
        
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="static/success_form.css">
</head>
<body>

<!--Navigation Bar-->
<ul>
  <li><a href="/contact_us">Contact Us</a></li>
  <li><a href="/about_us">About Us</a></li>
  <li><a href="/checkout">Checkout</a></li>
  <li><a href="/menucopy">Menu(copy)</a></li>
  <li><a href="/menu">Menu</a></li> 
</ul>

<!--Image payment successful-->
<img src="https://i.postimg.cc/KcVNkp86/green-check-mark-icon-in-a-circle-free-vector.jpg" style="margin-left:650px; margin-top:10px; width:180px; height:180px;">

<!--Success Title-->
<h1>Succesful payment</h1>

<!--Success confirmation-->
<h2 style="margin-left:600px;">Thank you for your purchase!</h2>

<!--add personalized message including username, name-->

<!--Footer-->
<footer>
</footer>

</body>
</html>